{% extends 'base.html.twig' %}

{% block title %}Records List
{% endblock %}

{% block body %}
	<h1>Records List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name Transaction</th>
				<th>Payee Name</th>
				<th>Period</th>
				<th>Payment Day</th>
				<th>Amount</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for records_transaction in records_transactions %}
				<tr>
					<td>{{ records_transaction.nameTransaction }}</td>
					<td>{{ records_transaction.payee_name }}</td>
					<td>{{ records_transaction.period_name }}</td>
					<td>{{ records_transaction.payment_day }}</td>				
					<td>{{ records_transaction.bedrag }}</td>
					<td>
						<a href="{{ path('app_records_transaction_show', {'id': records_transaction.id}) }}">Show</a>
						<a href="{{ path('app_records_transaction_edit', {'id': records_transaction.id}) }}">Edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_records_transaction_new') }}">Create New</a>
{% endblock %}
